body {
  font-family: sans-serif;
  text-align: center;
  background-color: #cfc1f7; /* AliceBlue */
}

#comment {
  padding: 20px;
  font-size: 1.2em;
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f0f8ff; /* AliceBlue */
  display: flex;              /* Enable flexbox */
  flex-direction: column;   /* Stack items vertically */
  justify-content: center;  /* Center vertically */
  align-items: center;      /* Center horizontally */
  min-height: 100vh;        /* Ensure full viewport height */
  margin: 0;                /* Remove default body margin */
}

#comment {
  padding: 20px;
  font-size: 1.2em;
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


