body {
  font-family: sans-serif;
  background-color: #cfc1f7; /* AliceBlue */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

.container {
  text-align: center; /* Center text and button inside the container */
}

#comment {
  padding: 20px;
  font-size: 1.2em;
  margin-bottom: 20px; /* Space between comment and button */
}

button {
  background-color: #f1c1f7; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}
