body {
  font-family: sans-serif;
  background-color: #cfc1f7; /* AliceBlue */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

.container {
  text-align: center; /* Center text and button inside the container */
}

#comment {
  padding: 20px;
  font-size: 1.2em;
  margin-bottom: 20px; /* Space between comment and button */
  position: relative; /* Position relative for absolute positioning of overlay */
}

#comment::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: -1; /* Place it behind the text */
}

button {
  background-color: #f1c1f7; /* Button color */
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}
